@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    RingDev<br />
    Madison, WI<br />
</address>

<address>
    <strong>ATC:</strong> <a href="mailto:">DarkLegacy</a>
    <strong>Development:</strong> <a href="mailto:thatrickguy@hotmail.com">ThatRickGuy</a><br />
</address>