@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <center><h2>Welcome to the Warmachine ATC Team Event System.</h2></center>
    <hr />
    This software is designed to assist in the running of a team format Warmachine/Hordes tournament.
    To use this software, work your way from the top left menu option, to the lowest.
</div>
<div class="row">
    <div class="col-md-4">
        <center><h3>Prior to the Event</h3></center>
        <hr />
        Clik on the "Events" menu option to go to the Events Listing. Click the 'Create' link at the top of the page to make a new event.
        <br /><br />
        You can add a logo, set a list lock date, and an event date. Note that as of the end of the list lock date, all lists will become visible when you publish and push.
        <br /><br />
        Once you have created an event, you can select it by clicking on it's name. You should see it's name appear in the header of the page.
        <br /><br />
        Note that there will be an auto import feature to pull teams and lists in from Conflict Chamber eventually. That feature has not yet been finalized, so in the mean time, it's a bit of manual entry.
        <br /><br />
        Then you can click on Teams. (Note, if you do not have an event selected, clicking on Teams will take you to the Event list.) One the Teams page you can create new teams, giving them a name and an optional logo. These logos should be small in size, anything over 100px in width or height is overkill.
        <br /><br />
        Once you have created a team, you can select it by clicking on it's name. You should see the team name appear in the header of the page. This will also take you to the Players page. (Note, if you do not have a Team selected and click on the Players link, you will be redirected to the Teams page.)
        <br /><br />
        On the Players page, you can add new players to the selected team. Name, faction, casters, and lists.
        <br /><br />
        Once you have all of your teams, players, and lists completed, you can hit the bottom left menu option "Push". This will create 3 web pages that can be publicly shared or embedded in your own site via iframes. If the list lock date has not passed, the published pages will not include any caster or list information.
        <br /><br />
        At this point, you should be ready to go for the event!




    </div>

    <div class="col-md-4">
        <center><h3>Day of the event!</h3></center>
        <hr />
        Step one, select your event! If you try to go to rounds without your event selected, you'll get redirected to the Events page.
        <br /><br />
        Next up, go to Rounds, create a new round. Sequence number should be 1 (or higher, if you are creating additional rounds), enter the Scenario, and hit Create.
        <br /><br />
        Then click on the Sequence Number to select the round and go to the Team Matchups page.
        <br /><br />
        At the Team Matchup page you can either manually create your pairing, or you can generate a pairing. If you generate pairings, Byes will be automatically assigned to a team who has not had a bye and is in the lowest bracket (0-X) of teams. If you need to manually adjust Team Pairings, you will need to go to the two pairings you would like to change and manually alter the teams in the pairings. For example, if you want to change a Team 1 vs Team 2 and Team 3 vs BYE to Team 1 vs Team 3 and team 2 with the bye, you would have to go into both pairings and switch team 3 for team 2.
        <br /><br />
        Now that team pairings are set, we recommend calling all the captains over, going over any round-specific directions, and then hitting the Push button to publish the round. Anyone can open the web pages now to see which teams are paired and what table zones their games are.
        <br /><br />
        All team Captains should report individual pairings (or if you have a spare judge/helper, they can collect pairings). As individual pairings are reported, you can go to the Team Matchups, click on the team vs team link, and get a list of individual pairings. Click Create New to get started. Select the players from each team that are matched up, then click 'create another' and repeat until all players have been paired. Note that the player combo boxes will be limited to only unpaired players.
        <br /><br />
        Once all of the individual pairings have been entered, go ahead and click Push again to update the website, this is mostly just for folks following along from home.

    </div>
    <div class="col-md-4">
        <center><h3>Game reporting!</h3></center>
        <hr />
        Once everything is entered for the round, you can jump to the "Report Games" page. Here you will see a list of all individual matchups. Each line represents a game. The only things we track here are which list the players used, what their final CP and APD were. Once you've filled in the fields, hit the save buttong. The row should turn yellow until it successfully updates, at which point it will turn Green. Note that if you have a lot of players, it may be easiet to use your browser's search feature (ctrl-F on windows) and begin typing the name of one of the players, this should allow you to jump right to the individual.
        <br /><br />
        Note that the published web pages will only be updated when you hit the 'Push' menu option. I find it easy to have the 'Push' page open in another browser tab, and in the breaks between reporting, I just switch over and hit F5 to refresh the page, this will cause the results to be updated publicly.
        <br /><br />
        Once all the games are reported, jump back up to rounds, create a new round, and follow the same process!
    </div>
</div>