@model IEnumerable<WMATC.ViewModels.GameReport>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@{
    ViewBag.Title = "Report Games";
}
<div class="form-horizontal">
    <div>
        <div style="width:1350px; position:fixed;">
                <div style="float:left;width:200px;">
                    @Html.DisplayNameFor(model => model.WinnerId)
                </div>

                <div style="float:left;width:183px; margin-left:5px;">
                    Player 1
                </div>

                <div style="float:left;width:85px; margin-left:5px;">
                    List
                </div>

                <div style="float:left;width:52px;margin-left:5px;">
                    CP
                </div>

                <div style="float:left;width:60px;margin-left:5px;">
                    APD
                </div>

                <div style="float:left;width:173px; margin-left:10px;">
                    Player 2
                </div>

                <div style="float:left;width:85px;margin-left:5px;">
                    List
                </div>

                <div style="float:left;width:52px;margin-left:5px;">
                    CP
                </div>

                <div style="float:left;width:60px;margin-left:5px;">
                    APD
                </div>

                <div style="float:left;width:200px;margin-left:10px;">
                    First Player
                </div>

                <div style="float:left;width:60px;margin-left:10px;">
                    Length
                </div>

                <div class="form-group" style="float:left;margin-left:5px;">
                    
                </div>
        </div>
        <div id="divEditorsContainer" style="width:1000px; margin-top:24px;">
            <br/>
            @foreach (var item in (from p in Model orderby (p.WinnerId == null) descending  select p))
            {
                <div style="clear:left;">
                    @item.MatchupId 
                </div>
            }
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#divEditorsContainer").children().each(function(){
                var context = $(this);
                var matchupId = context.html();
                context.load( "gamereport/edit/" + $.trim(matchupId));
            })
        })
    </script>







    @*<tr bgcolor="@RowBackgroundColor">


                    </td>
                    <td>

                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </table>*@


</div>